# Archivos de Entorno
.env
.env.*
!.env.example

# IDEs y Editores
.idea/
.vscode/
*.swp
*.swo
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# Node.js
node_modules/
npm-debug.log
yarn-error.log
dist/
build/
.next/

# Java / Maven
target/
*.class
*.log
*.jar
*.war
*.ear
.mvn/wrapper/maven-wrapper.jar

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/
env/

# OS
.DS_Store
Thumbs.db
application.properties
